<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Điều kiện lọc</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="condition-report">
        <form name='form' novalidate class='form-horizontal'>
			<div class='form-group'>
				<label>Nhóm theo <span class="required">*</span></label>
				<div>
					<select class="form-control" ng-model="$ctrl.condition.nhomtheo">
						<option value="ma_bp">Bộ phận</option>
						<option value="ma_phi">Phí</option>
						<option value="tk">Tài khoản</option>
					</select>
				</div>
			</div>
			
            <div class='form-group'>
                <label>Từ ngày <span class="required">*</span></label>
                <div>
                    <input type="date" ng-model="$ctrl.condition.tu_ngay" class="form-control" ng-required="true"/>
                </div>
            </div>
            <div class='form-group'>
                <label>Đến ngày <span class="required">*</span></label>
                <div>
                    <input type="date" ng-model="$ctrl.condition.den_ngay" class="form-control" ng-required="true"/>
                </div>
            </div>
			<div class='form-group'>
				<label>Tài khoản</label>
				<div>
					<input type='text' ng-model='$ctrl.condition.tk' class='form-control'/>
				</div>
			</div>
			
            <!--
			<div class='form-group'>
				<label>Mã phí</label>
				<div>
					<ng-typeahead
						module="dmphi" fields="ma_phi,ten_phi" field-model="ten_phi" field-label="ma_phi"
						ng-model='condition.ten_phi' label="condition.ma_phi">
					</ng-typeahead>
				</div>
			</div>
			<div class='form-group'>
				<label>Mã bộ phận</label>
				<div>
					<ng-typeahead
						module="dmbp" fields="ma_bp,ten_bp" field-model="ten_bp" field-label="ma_bp"
						ng-model='condition.ten_bp' label="condition.ma_bp">
					</ng-typeahead>
				</div>
			</div>
			-->
        </form>


    </div>
</div>
<div class="modal-footer">
     <button  type='button' class="btn btn-primary" ng-click='$ctrl.ok()' ng-disabled='form.$invalid'>Xem</button>
     <button  type='button' class="btn btn-primary" ng-click='$ctrl.cancel()'>Thoát</button>
</div>


