
	<div class="table-responsive"  id ='exportable'>
		
				<table class='table  table-striped  table-hover table-bordered' id ='exportable'>
					<tr>
						<th>STT</th>
						<th>Mã</th>
						
						<th>Diễn giải</th>
						
						<th>Tiền</th>
						
					</tr>
					<tr     ng-repeat='r in data'   ng-class="r.bold?'cbold':'cnormal'">
						<td>
							{{::r.stt}}
						</td>
						<td>
							{{::r.ma}}
						</td>
						
						<td>
							{{::r.dien_giai}}
						</td>
						
						<td>
							{{::r.tien|number:0}}
						</td>
						
						
					</tr>
				</table>
		
	</div>
	
<